@{
    ViewBag.Title = "Contact";
}

<ul>
    <li>@Html.ActionLink("Home", "Index", "Source")</li>
    <li>@Html.ActionLink("About Us", "About", "Source")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Source")</li>
    <li>@Html.ActionLink("Edit Page", "Edit", "Source")</li>
</ul>

<h2>Contact Page</h2>
<p>This is the Contact page.</p>

<hr />

