
@{
    ViewBag.Title = "Home";
}

<ul>
    <li>@Html.ActionLink("Home", "Index", "Source")</li>
    <li>@Html.ActionLink("About Us", "About", "Source")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Source")</li>
    <li>@Html.ActionLink("Edit Page", "Edit", "Source")</li>
</ul>

<h2>Index (Home Page)</h2>
<p>This is the main page for the Source controller.</p>

<hr />
